/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

/* COMMON */
/* Layout */
.container {
  margin: 0 auto;
  width: 80%; 
}

.row {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Header */
header {
  background-color: #ececec;
  padding: 20px;
}

/* Form */
label {
  font-weight: bold;
}

input {
  padding: 10px;
  margin: 20px 0;
}

/* Card */
.card {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}